:root {
  --main-color: #212121;
  --grey: #757575;
  --footer-mail-number: rgba(255, 255, 255, 0.6);
  --white: #ffffff;
  --blue: #2196f3;
  --black: #000000;
  --features-list-gap: 30px;
  --filters-gap: 8px;
}
ul {
  list-style: none;
}

body {
  color: var(--main-color);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo .logo-blue {
  color: var(--blue);
}
.logo .logo-black {
  color: var(--black);
}
.logo .logo-white {
  color: var(--white);
}
/* Site-nav */

.site-nav .link {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--blue);
}
.site-nav .link.current {
  color: var(--blue);
}

.list-cont .mail,
.list-cont .tel {
  color: var(--grey);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.list-cont .mail:hover,
.list-cont .mail:focus,
.list-cont .tel:hover,
.list-cont .tel:focus {
  color: var(--blue);
}
.site-nav,
.list-cont,
.features-list,
.services-list,
.team-list,
.filters,
.serv-list {
  padding: 0px;
  margin: 0px;
}
/* Hero */
/* .hero {
  background-color: #2f303a;
  text-align: center;
} */
.hero-container {
  min-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  /* color: var(--white); */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  min-width: 696px;
  min-height: 120px;
  /* padding: 200px 452px 280px 452px; */
}
.text-btn {
  color: var(--white);
  background-color: var(--blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
  min-width: 200px;
  border-color: 1px solid var(--blue);
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-desc {
  color: var(--grey);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0px;
  margin-bottom: 0px;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}

.services-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.7;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
.team {
  background-color: #f5f4fa;
}

.team .team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.team .position {
  color: var(--grey);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 30px;
}

.footer {
  background-color: #2f303a;
}
.footer-container {
  min-width: 1600px;
  min-height: 252px;
  margin-top: auto;
  margin-bottom: auto;
}
.footer .logo {
  display: inline-block;
  padding-bottom: 20px;
}
.adress-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.adress-list p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 9px;
}
.adress-list .city {
  color: var(--white);
}
.adress-list .mail,
.adress-list .tel {
  color: var(--footer-mail-number);
  text-decoration: none;
}
/* Портфолио */
.filters .item {
  color: var(--main-color);
  background-color: #f5f4fa;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  min-width: 73px;
}
.filters .position :hover,
.filters .position :focus {
  color: var(--white);
  background-color: var(--blue);
}
.filters {
  /* margin-top: 94px; */
  margin-bottom: 34px;
}
.serv-list .service {
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 4px;
}
.serv-list .descrip {
  color: var(--grey);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}
p.descrip {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.serv-list .item {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Блоки */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.services,
.team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features {
  background-color: turquoise;
}
.services {
  background-color: hotpink;
}
.features-list {
  outline: 1px solid tomato;
  display: flex;
  margin-left: calc(-1 * var(--features-list-gap));
  margin-top: calc(-1 * var(--features-list-gap));
}
.features-list > .features-card {
  outline: 1px solid yellow;
  flex-basis: calc(100% / 4 - var(--features-list-gap));
  margin-left: var(--features-list-gap);
  margin-top: var(--features-list-gap);
}
.services-list {
  outline: 1px solid tomato;
  display: flex;
  margin-left: calc(-1 * var(--features-list-gap));
  margin-top: calc(-1 * var(--features-list-gap));
}
.services-list > .services-card {
  outline: 1px solid yellow;
  flex-basis: calc(100% / 3 - var(--features-list-gap));
  margin-left: var(--features-list-gap);
  margin-top: var(--features-list-gap);
}
.team-list {
  outline: 1px solid tomato;
  display: flex;
  margin-left: calc(-1 * var(--features-list-gap));
  margin-top: calc(-1 * var(--features-list-gap));
}
.team-list > .team-card {
  outline: 1px solid yellow;
  flex-basis: calc(100% / 4 - var(--features-list-gap));
  margin-left: var(--features-list-gap);
  margin-top: var(--features-list-gap);
}
.filters {
  outline: 1px solid tomato;
  display: flex;
  margin-left: calc(1 * var(--filters-gap));
  margin-top: calc(1 * var(--filters-gap));
}
.filters > .position {
  outline: 1px solid yellow;
  flex-basis: calc(100% / 5 - v);
  margin-left: var(--filters-gap);
  margin-top: var(--filters-gap);
}
.serv-list {
  outline: 1px solid tomato;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--features-list-gap));
  margin-left: calc(-1 * var(--features-list-gap));
}
.serv-list > .serv-card {
  outline: 1px solid yellow;
  flex-basis: calc(100% / 3 - var(--features-list-gap));
  margin-top: var(--features-list-gap);
  margin-left: var(--features-list-gap);
}
.img {
  display: block;
}
